name: writey-drawey-site

myNextApp:
  component: serverless-next.js
  inputs:
    domain: ["www", "writeydrawey.site"]
    bucketName: writey-drawey-next-js

lambdaUpdateState:
  component: "@serverless/aws-lambda"
  name: writey-drawey-update-game
  inputs:
    description: "post endpoint for updating game state"
    memory: 128
    timeout: 20
    code: ./backend
    handler: index.update
    runtime: nodejs12.x
    region: us-east-1

lambdaGetState:
  component: "@serverless/aws-lambda"
  name: writey-drawey-game-state
  inputs:
    description: "polling endpoint for fetching game state"
    memory: 1024
    timeout: 4
    code: ./backend
    handler: index.get
    runtime: nodejs12.x
    region: us-east-1

lambdaGetCompletedGames:
  component: "@serverless/aws-lambda"
  name: writey-drawey-completed-games
  inputs:
    description: "get completed games for shits n giggles"
    memory: 1024
    timeout: 4
    code: ./backend
    handler: index.getCompletedGames
    runtime: nodejs12.x
    region: us-east-1

gameApiGateway:
  component: "@serverless/aws-api-gateway"
  inputs:
    description: Writey Drawey
    cors: true
    endpoints:
      - path: /api
        method: POST
        function: ${lambdaUpdateState.arn}
      - path: /state
        method: GET
        function: ${lambdaGetState.arn}
      - path: /completed-games
        method: GET
        function: ${lambdaGetCompletedGames.arn}

gamesTable:
  component: '@serverless/aws-dynamodb'
  inputs:
    name: writey-drawey-games # optional
    attributeDefinitions:
      - AttributeName: id
        AttributeType: S
    keySchema:
      - AttributeName: id
        KeyType: HASH
    region: us-east-1

imageBucket:
  component: "@serverless/aws-s3"
  inputs:
    name: writey-drawey-images
    region: us-east-1
    cors:
      CORSRules:
      - AllowedHeaders:
        - "*"
        AllowedMethods:
        - PUT
        - POST
        - DELETE
        AllowedOrigins:
        - http://writeydrawey.site
        MaxAgeSeconds: 3000
