button {
    background: none;
    border: none;
    color: var(--black-ln);
    font-size: 0.8em;
    font-family: 'Relative Mono';
    text-transform: lowercase;
    position: relative;
    opacity: 0.7;
    height: 7em;
    width: 11em;
    box-sizing: border-box;
    &:not([disabled]) {
      opacity: 1;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus {
      outline: none;
    }
    &:active, &:focus {
      transform: scale(1);
    }
    .button__text {
      position: relative;
      z-index: 1;
      font-size: 1.3em;
    }
    svg {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }
    /* TODO resolve */
    span.text, &__text {
      display: inline-block;
      transform: rotate(-1deg);
    }
}

.buttons-row {
    justify-content: space-evenly;
    margin-top: 2rem;
}