.gallery {
    background: var(--lightgray);
    padding: 2em 2em 8em 2em;
    @media (min-width: $break_xl) {
        padding: 4em 2em 8em 2em;
    }
    h1 {
        padding: 1em 0 2em 0;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1em;
        grid-auto-rows: minmax(100px, auto);
        @media (max-width: 100em) {
            grid-template-columns: repeat(6, 1fr);
        }
        @media (max-width: 80em) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: 60em) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 50em) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &-image {
        height: 10em;
        background: white;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: var(--lightgray);
        > a {
            display: inline-block;
            height: 2.4em;
            padding: 0.6em 1em;
        }
    }
}