@keyframes raindrop {
    from {
      transform: translateY(30px);
      opacity: 0;
    }   
    to {
      transform: translateY(0px);
      opacity: 1;
    }
}

.home .mural {
    padding: 0;
    height: 300vh;
    justify-content: flex-end;
    background-color: $lightgray;
}

.home .homepage-background {
    overflow: hidden;
    position: fixed;
    bottom: 2vh;
    width: 98vw;
    height: 96vh;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: -7px 7px 0px #bbb;
    background-color: #fff;
    &__nav-inner {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0.5em 0;
        a {
            padding: 0 1em;
        }
        button {
            display: inline;
        }
    }
    img, .rain, .logo {
        position: absolute;
    }
    .hpb-hills {
        width: 60%;
    }
    .hpb-sun {
        width: 16%;
    }
    .hpb-plane {
        width: 17%;
    }
    .hpb-dog-cloud {
        width: 18%;
    }
    .hpb-dog {
        width: 10%;
    }
    .hpb-bear {
        width: 8%;
    }
    .hpb-snake {
        width: 28%;
    }
    .hpb-doug {
        width: 10%;
    }
    .rain {
        @for $i from 1 through 11 {
            path:nth-of-type(#{$i}n) {
                animation: 3s ease-in #{$i * 300}ms infinite reverse both running raindrop;
            }
        }
    }
}

.home .federer-dialogue {
    background: $lightgray;
    padding: 6em 0;
    text-align: center;
    &__container {
        width: 37em;
        display: inline-block;
        position: relative;
        img {
            width: 100%;
        }
    }
    &__text {
        position: absolute;
        left: 0;
        padding: 4em 3em 0 13em;
    }
}

.home .three-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__step {
        width: 40rem;
        display: flex;
        margin: 6rem 0;
        h2 {
            font-family: 'Relative Mono';
        }
        img {
            width: 20em;
        }
        &__text {
            padding: 1em 2em 0;
        }
    }
}

.home .social {
    background: #FAFAFA;
    padding: 1em 2em;
    flex-direction: row;
    img {
        width: 100%;
    }
    &__left {
        flex: 2;
    }
    &__center {
        flex: 5;
        h3 {
            margin: 2em 4em;
        }
    }
    &__right {
        flex: 2;
    }
    &__bottom {
        margin: 5% 15%;
    }
}