.input-container {
    text-align: center;
    margin-bottom: 1rem;
    width: 30rem;
    max-width: 80vw;
}
.subtext {
    font-family: 'Relative Mono';
    font-size: 0.65rem;
    text-align: center;
}
label.toggle {
    text-align: right;
    margin-top: 0.4em;
    .label-text {
        font-size: 0.8em;
        margin-right: 1em;
    }
    .react-toggle {
        position: relative;
        top: 5px;
    }
}

  
input {
    border: none;
    border-radius: 0;
    color: var(--black-ln);
    font-size: $h3fontsize;
    width: 100%;
    padding-left: 0.1em;
    margin-left: 0.1em;
    &.text--left {
      text-align: left;
    }
    &:focus {
      outline: none;
    }
    &[disabled] {
      background: white;
    }
}

.input-container-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.8rem;
    width: 100%;
    height: 3em;
    position: relative;
    input, .input-label {
      display: inline-block;
      white-space: nowrap;
      padding-bottom: 0.2em;
    }
    .input-label {
      margin-right: 0.2rem;
      z-index: 1;
      bottom: 0.1em;
    }
    .input-wrapper {
      flex: 1;
      position: relative;
      text-align: right;
      margin-left: 0.5em;
      .input-drawnline {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -0.25em;
        pointer-events: none;
      }
      svg {
        width: 100%;
      }
    }
}