.join, .new-game {
  .input-container {
    max-width: 30rem;
    text-align: left;
    margin-bottom: 1rem;
    input, h3 {
      display: inline-block;
      white-space: nowrap;
    }
  }
  .input-container-flex {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
  }
  .subtext {
    text-align: center;
    font-family: 'Relative Mono';
    font-size: 0.65rem;
  }
}
