@mixin bubbleNav {
  @include borderBox;
  width: 18em;
  min-height: 8.5em;
  margin: 2em;
  right: 0;
  position: fixed;
  flex-direction: column-reverse;
  .nav__line {
    display: none;
  }
  .nav__logo {
    margin: 1em 0;
    width: 5em;
  }
  .nav__cta {
    align-self: flex-end;
    margin: 0.45em 0;
    font-size: 1.1em;
  }
  .nav__links {
    margin-top: 1em;
  }
}

.nav {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 20;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 3.2em;
  opacity: 1;
  transition: 500ms opacity;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &--main {
    /*
      This turns the nav into a floating box for xtra wide screens
    */
    @media (min-width: $break_xl) {
      @include bubbleNav()
    }
    button {
      width: 8.5em;
      margin-left: 1em;
      font-size: 0.75em;
    }
  }

  &__logo {
    width: 4em;
    position: absolute;
    left: 1rem;
  }
  button {
    display: inline;
    padding: 1.15em;
    font-size: 0.75em;
    height: 4em;
  }
  &__line {
    position: absolute;
    top: 2.2em;
    width: 100%;
    left: 0;
    background: white;
    z-index: -1;
    > span {
      display: block;
      height: 0;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__hamburger, &__close-button {
    width: 2.5em;
    cursor: pointer;
  }
  &__links, .text {
    a {
      padding: 0 1.2em;
    }
    h2 {
      margin: 0;
      &:nth-of-type(2) {
        color: red;
      }
    }
    span:not(.nohover):hover, a:hover {
      cursor: pointer;
    }
  }
  .text {
    padding: 1.2rem 1.4rem;
  }
  .game-overview-nav {
    position: fixed;
    padding: 1.6rem;
    right: 0;
    top: 0;
  }
}

/*
  PlayerNav is visible when playing the game
*/
.nav--player {
  min-height: 3em;
  display: flex;
  padding: 1em 1em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  background-color: white;
  > a {
    height: 2.4em;
    padding: 0.6em 1em 0.6em 0.4em;
  }
}

/*
  Mobile Navigation Logic
 */
.nav__hamburger {
  display: none;
}
.nav__mobile {
  @include animateIn(400ms, 1ms);
  display: none;
  width: 100vw;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: .1em solid var(--black-ln);
  &__links {
    padding-top: 3em;
    font-size: 1.4em;
    > span {
      display: block;
      margin-bottom: 1.4em;
    }
  }
  .nav__close-button {
    position: absolute;
    right: 0;
    padding: 1em;
  }
}
@media screen and (max-width: $break_med) {
  .nav__links, .nav__cta {
    display: none;
  }
  .nav__hamburger {
    display: block;
  }
  #main.mobile--open {
    .nav__mobile {
      display: block;
    }
  }
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4em;
  position: relative;
  z-index: 1;
  button {
    height: 5em;
    margin: 0 1em;
  }
}