.nav {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 20;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 4em;
  opacity: 1;
  transition: 300ms opacity;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &--main {
    button {
      width: 9em;
      margin-left: 1em;
      font-size: 0.75em;
    }
  }
  .logo {
    height: 2rem;
    position: fixed;
    left: 1.2rem;
    top: 0;
    padding: 1em 0;
  }
  &__logo {
    width: 4em;
    position: absolute;
    left: 1rem;
  }
  button {
    display: inline;
    padding: 1.15em;
    font-size: 0.75em;
    height: 4em;
  }
  &__line {
    position: absolute;
    top: 3em;
    width: 100%;
    left: 0;
    background: white;
    z-index: -1;
    > span {
      display: block;
      height: 0;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__links, .text {
    a {
      padding: 0 1em;
    }
    h2 {
      margin: 0;
      &:nth-of-type(2) {
        color: red;
      }
    }
    span:not(.nohover):hover, a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .text {
    padding: 1.2rem 1.4rem;
  }
  .game-overview-nav {
    position: fixed;
    padding: 1.6rem;
    right: 0;
    top: 0;
  }
}

/*
  PlayerNav is visible when playing the game
*/
.nav--player {
  min-height: 3em;
  display: flex;
  padding: 1em 1em;
  align-items: center;
  justify-content: space-between;
  > a {
    height: 2.4em;
  }
}
