.nav {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 20;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 3.2em;
  opacity: 1;
  transition: 300ms opacity;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &--main {
    /*
      This turns the nav into a floating box for xtra wide screens
    */
    @media (min-width: $break_xl) {
      @include borderBox;
      width: 18em;
      min-height: 7.5em;
      margin: 2em;
      right: 0;
      position: fixed;
      flex-direction: column-reverse;
      .nav__line {
        display: none;
      }
      .nav__logo {
        margin: 1em 0;
        width: 5em;
      }
      .nav__cta {
        align-self: flex-end;
        margin: 0.45em 0;
        font-size: 1.1em;
      }
      .nav__links {
        margin-top: 0.45em;
      }
    }
    button {
      width: 8.5em;
      margin-left: 1em;
      font-size: 0.75em;
    }
  }
  // .logo {
  //   height: 2rem;
  //   position: fixed;
  //   left: 1.2rem;
  //   top: 0;
  //   padding: 0.5em 0;
  // }
  &__logo {
    width: 4em;
    position: absolute;
    left: 1rem;
  }
  button {
    display: inline;
    padding: 1.15em;
    font-size: 0.75em;
    height: 4em;
  }
  &__line {
    position: absolute;
    top: 2.2em;
    width: 100%;
    left: 0;
    background: white;
    z-index: -1;
    > span {
      display: block;
      height: 0;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__links, .text {
    a {
      padding: 0 1em;
    }
    h2 {
      margin: 0;
      &:nth-of-type(2) {
        color: red;
      }
    }
    span:not(.nohover):hover, a:hover {
      cursor: pointer;
    }
  }
  .text {
    padding: 1.2rem 1.4rem;
  }
  .game-overview-nav {
    position: fixed;
    padding: 1.6rem;
    right: 0;
    top: 0;
  }
}

/*
  PlayerNav is visible when playing the game
*/
.nav--player {
  min-height: 3em;
  display: flex;
  padding: 1em 1em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  > a {
    height: 2.4em;
    padding: 0.6em 1em;
  }
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4em;
  button {
    height: 5em;
    margin: 0 1em;
  }
}