.nav {
  .logo {
    height: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.4rem;
  }
  .links, .text {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0.8rem 1.4rem;
    h2 {
      margin: 0;
    }
    span:not(.nohover):hover, a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .text {
    padding: 1.2rem 1.4rem;
  }
  .game-overview-nav {
    position: fixed;
    padding: 1.4rem;
    right: 0;
    top: 0;
  }
}
