$break_xl: 1500px;
$break_lg: 1200px;
$break_med: 900px;
$break_sm: 600px;

@import './typography';
@import './nav.scss';
@import './join.scss';

body {

}

#main {
  padding: 1.2rem 0;
  height: 100vh;
  box-sizing: border-box;
  @media (max-size: $break_sm) {
    padding: 0.6rem 0;
  }
}
.content-container {
  height: 100%;
  padding: 4.4rem 1.4rem 0;
  box-sizing: border-box;
}
.full-height {
  height: 100%;
}
.bottom-margin {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.4rem 0;
  width: 100%;
  button {
    font-size: 1rem;
    margin: 0 0 0 6vw;
    padding: 0.6rem 1em;
  }
}
.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rel {
  position: relative;
}
.strikethrough {
  text-decoration: line-through;
}
.center {
  text-align: center;
}

.home {
  .logo {
    height: 6rem;
  }
}
.rules {
  max-width: 23rem;
  .illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem 4rem;
    width: 16rem;
    svg {
      width: 100%;
    }
  }
}
.playing {
  h2, h3 {
    flex: 1;
    text-align: left;
  }
  .input-wrapper {
    flex: 1;
    text-align: left;
    margin: 0;
  }
}
.waiting {
  button {
    margin: 1rem;
  }
  .player--notready {
    font-style: italic;
  }
}
.game-over {
  width: 60%;
  margin: 0 auto;
  @media (max-width: $break_sm) {
    width: 100%;
  }
  img {
    width: 30rem;
    height: 18rem;
    background: var(--lightgray);
    object-fit: contain;
    object-position: center;
    padding: 1rem;
    box-sizing: border-box;
    @media (max-width: $break_sm) {
      width: 100%;
    }
  }
  &--section {
    margin: 4rem 0;
    &:last-of-type {
      margin-bottom: 10rem;
    }
  }
}

svg {
  height: 100%;
}

button {
  background: none;
  border: none;
  color: var(--black-ln);
  padding: 1em 2em;
  font-size: 1.2em;
  margin: 1em;
  cursor: pointer;
  font-family: 'Relative Mono';
  margin-top: 2em;
  text-transform: lowercase;
  position: relative;
  &:hover svg {
    transform: scale(1.02);
  }
  &:focus {
    outline: none;
  }
  &:active svg, &:focus svg {
    transform: scale(1);
  }
  svg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
  span.text {
    display: inline-block;
    transform: rotate(-1deg);
  }
}

.input-wrapper {
  flex: 1;
  margin: 0 1em;
  position: relative;
  input {
    border: none;
    border-bottom: 0.05rem solid var(--black-ln);
    color: var(--black-ln);
    font-size: 1.3rem;
    width: 100%;
  }
}

input {
  border-radius: 0;
  &[disabled] {
    background: white;
  }
}

#drawingCanvas {
  width: 100%;
  border: none;
  flex: 1;
  background: var(--lightgray);
  margin-top: 3.2rem
}

img.playerDrawing {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  scale: 0.85;
  &.preview {
    filter: blur(6px);
  }
}

button.preview--button {
  position: absolute;
  background: white;
}

ol {
  padding-left: 1.6em;
  margin: 0.6em 0;
}
