$break_xl: 1500px;
$break_lg: 1200px;
$break_med: 900px;
$break_sm: 600px;

@import './typography';
@import './nav.scss';
@import './join.scss';

body {

}

#main {
  padding: 1.2rem 0;
  height: 100vh;
  box-sizing: border-box;
}
.content-container {
  height: 100%;
  padding: 3.4rem 1.4rem 0;
  box-sizing: border-box;
}
.full-height {
  height: 100%;
}
.bottom-margin {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.4rem 0;
  width: 100%;
  button {
    font-size: 1rem;
    margin: 0 0 0 4rem;
    padding: 0.4rem 1em;
  }
}
.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rel {
  position: relative;
}
.strikethrough {
  text-decoration: line-through;
}
.center {
  text-align: center;
}

.home {
  .logo {
    height: 6rem;
  }
}
.rules {
  max-width: 23rem;
}
.playing {
  h2 {
    flex: 1;
    text-align: left;
  }
  .input-wrapper {
    flex: 1;
    text-align: left;
  }
}
.waiting {
  button {
    margin: 1rem;
  }
  .player--notready {
    font-style: italic;
  }
}
.game-over {
  width: 60%;
  margin: 0 auto;
  img {
    width: 30rem;
    height: 18rem;
    background: var(--lightgray);
    object-fit: contain;
    object-position: center;
    padding: 1rem;
    box-sizing: border-box;
  }
  &--section {
    margin: 4rem 0;
    &:last-of-type {
      margin-bottom: 10rem;
    }
  }
}

svg {
  height: 100%;
}

button {
  background: none;
  outline: 0.05rem solid var(--black-ln);
  border: none;
  color: var(--black-ln);
  padding: 1em 2em;
  font-size: 1.2em;
  margin: 1em;
  cursor: pointer;
  font-family: 'Relative Mono';
  margin-top: 2em;
  > span {
    transform: rotate(-1deg);
    display: inline-block;
  }
}

.input-wrapper {
  flex: 1;
  margin: 0 1em;
  position: relative;
  input {
    border: none;
    border-bottom: 0.05rem solid var(--black-ln);
    color: var(--black-ln);
    font-size: 1.3rem;
    width: 100%;
  }
}

input.large {
  font-size: 2em;
}

#drawingCanvas {
  width: 100%;
  border: none;
  flex: 1;
  background: var(--lightgray);
  margin-top: 3.2rem
}

img.playerDrawing {
  flex: 1;
  width: 100%;
  object-fit: contain;
  scale: 0.9;
}

ol {
  padding-left: 1.6em;
  margin: 0.6em 0;
}
