$break_xl: 1500px;
$break_lg: 1200px;
$break_med: 900px;
$break_sm: 600px;

$h1fontsize: 2.4rem;
$h2fontsize: 1.7rem;
$h3fontsize: 1.3rem;

$lightgray: #FAFAFA;

@import './typography';
@import './nav.scss';
@import './react-toggle.scss';
@import './homepage.scss';
@import './input.scss';
@import './button.scss';

body {

}

#main {
  height: 100vh;
  box-sizing: border-box;
  @media (max-size: $break_sm) {
    padding: 0.6rem 0;
  }
}
.content-container {
  height: 100%;
  width: 100%;
  padding: 0 1.4rem;
  box-sizing: border-box;
  max-width: 60em;
  margin: 0 auto;
}
.full-height {
  height: 100%;
}
.ctr-adjust-pad {
  padding-bottom: 4rem;
}
.bottom-margin {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  button {
    flex: 0;
    font-size: 1rem;
    margin: 0 0 0 6vw;
    padding: 0.6rem 1em;
  }
  .drawnline {
    bottom: -0.75em;
  }
}
.flex-container {
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  &.small-pad {
    padding: 1em 0;
  }
}
.display--flex {
  display: flex;
}
.text--left {
  text-align: left;
}
.rel {
  position: relative;
}
.strikethrough {
  text-decoration: line-through;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}

.rules {
  max-width: 23rem;
  .illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem 4rem;
    width: 16rem;
    svg {
      width: 100%;
    }
  }
}

.playing {
  display: flex;
  flex-direction: column;
  h2, h3 {
    flex: 1;
    text-align: left;
  }
  .input-wrapper {
    flex: 1;
    text-align: left;
    margin: 0;
  }
  #drawingCanvas {
    width: 100%;
    border: none;
    flex: 1;
    background: var(--lightgray);
    // margin-top: 3.2rem
  }
  .playerDrawing {
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    scale: 0.85;
    &.preview {
      filter: blur(6px);
    }
  }
}
.waiting {
  display: flex;
  flex-direction: column;
  height: 100%;
  button {
    margin: 1rem;
  }
  &__next-round-timer {
    position: absolute;
    bottom: 2em;
  }
}
.game-over {
  &__hero {
    background: var(--lightgray);
    text-align: center;
    padding: 6em 0 2em 0;
  }
  img {
    width: 30rem;
    height: 18rem;
    background: var(--lightgray);
    object-fit: contain;
    object-position: center;
    padding: 1rem;
    box-sizing: border-box;
    @media (max-width: $break_sm) {
      width: 100%;
    }
  }
  &--section {
    margin: 4rem 0;
    &:last-of-type {
      margin-bottom: 10rem;
    }
  }
}

svg {
  height: 100%;
}


.rough-notation-wrapper span {
  display: inline-block;
}

button.preview--button {
  position: absolute;
  background: white;
}

ol {
  padding-left: 1.6em;
  margin: 0.6em 0;
}

.pill {
  font-size: 0.8em;
  background: #b17be6;
  color: white;
  padding: 0em 1em 0.2em;
  border-radius: 4em;
  font-weight: bold;
}