@font-face {
  font-family: 'Relative';
  font-weight: normal;
  src: url('/relative-book.eot'); /* IE9 Compat Modes */
  src: url('/relative-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/relative-book.woff2') format('woff2'), /* Super Modern Browsers */
       url('/relative-book.woff') format('woff'), /* Pretty Modern Browsers */
       url('/relative-book.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Relative';
  font-style: italic;
  font-weight: normal;
  src: url('/relative-italic.eot'); /* IE9 Compat Modes */
  src: url('/relative-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/relative-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/relative-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/relative-italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Relative Mono';
  font-weight: normal;
  src: url('/relative-mono-11-pitch.eot'); /* IE9 Compat Modes */
  src: url('/relative-mono-11-pitch.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/relative-mono-11-pitch.woff2') format('woff2'), /* Super Modern Browsers */
       url('/relative-mono-11-pitch.woff') format('woff'), /* Pretty Modern Browsers */
       url('/relative-mono-11-pitch.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
  font-size: 14.5px;
  color: var(--black-ln);
  @media (max-width: $break_lg) {
    font-size: 13px;
  }
  @media (max-width: $break_med) {
    font-size: 11.5px;
  }
}
body {
  margin: 0;
  font-family: 'Relative', 'Helvetica', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
}
h1, h2, h3, h4, p {
  line-height: 1.4em;
  font-weight: normal;
  margin: 0 0 0.6rem;
  letter-spacing: 0.02em;
}
h1 {
  font-size: 3.5rem;
  line-height: 0.96em;
  font-weight: 300;
}
h2 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}
h3 {
  font-size: 1.7rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.03em;
}
h4 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
}
p {
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}
a {
  color: var(--black-ln);
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
}
.mono {
  font-family: 'Relative Mono';
  font-size: 0.6em;
}
.strikethrough {
  text-decoration: line-through;
}
